.content-section-wrapper {
    background-color: var(--light-gray);
    border-radius: 0.9rem;
}

.section-header {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem 0;
    border-bottom: 1px solid #BEC3CB;
}

h2 {
    color: #002332;
    font-weight: bold;
    font-size: 3.6rem;
}

.cards-wrapper {
    padding: 1.7rem 3.5rem;
    max-height: 64rem;
    overflow-y: hidden;
    overflow-x: scroll;
}